<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}AMAZON Customer reviews REVIEW WebApp{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% block header %}{% endblock header %}
</head>

<body>
    <div class="container">
        {% block body %}{% endblock body %}
    </div>
    {% block js %}{% endblock js %}


    <style>
        * {
            background-color: #FFFFFF;
            padding: 0;
            margin: 0;
        }
        
        header {
            height: 70px;
            background-color: #131921;
            width: 100%;
        }
        
        .container {
            border: 1px solid #101010;
            display: flex;
            flex-direction: column;
            max-width: 1400px;
            margin: auto;
        }
    </style>
</body>

</html>