{% extends 'base.html' %} {% block body %}
<header>
    <!--  <h2 class="">Amazon Product Reviews</h2> -->
    Amazon Review Sentiment Analysis Web Application
</header>
<div class="container">
    <div class="inner">
        <form method="POST">
            <div class="title-cover">
                <div>{{ form.hidden_tag() }}</div>
                <div>{{form.category.label}} </div> &nbsp;&nbsp;&nbsp;&nbsp;
                <div>{{form.category()}}</div>
            </div>
            <div>{{ form.review.label}}</div>
            <br> {{ form.review(cols='120',rows='10')}}
            <br>
            <div>
                <button type="submit" class="button-primary">Submit your review</button>
            </div>
        </form>
    </div>
    <div>
        {% if prediction %}
        <div class="">
            <img src="{{url_for('static', filename='images/' + prediction + '.jpeg')}}" />
            <br /> The predicted probability is :
            <p style="color:green;">{{ prob }} %.</p>
            <div>
                <!-- <div id="chart"></div> -->
            </div>
        </div>
        {% endif %}
    </div>
</div>
<footer>
    Made by: Musa Kanneh - African Leadership University
</footer>
{% endblock body %} {% block js %}
<script type="text/javascript">
</script>
{% endblock js %}