{% extends 'base.html' %} {% block body %}
<header>
    Amazon Review Sentiment Analysis Web Application
</header>
<div class="container">
    <div class="inner">
        <form method="POST">
            <div class="title-cover">
                <!-- <div class="the-form">{{ form.hidden_tag() }}</div> -->
                <div class="category-title ">{{form.category.label}} </div> &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="category-main ">{{form.category()}}</div>
            </div>
            <br>
            <div style="font-size: 2.5rem">{{ form.review.label}}</div>
            <br>
            <div class="form-input">{{ form.review(cols='145 ',rows='10 ')}}</div>
            <br>
            <div>
                <button type="submit " class="button-primary ">Submit your review</button>
            </div>
        </form>
    </div>
    <div>
        {% if prediction %}
        <div class=" ">
            <img src="{{url_for( 'static ', filename='images/ ' + prediction + '.jpeg ')}} " />
            <br /> The predicted probability is :
            <p style="color:green; ">{{ prob }} %.</p>
            <div>
                <!-- <div id="chart "></div> -->
            </div>
        </div>
        {% endif %}
    </div>
</div>
<footer>
    Made by: Musa Kanneh - African Leadership University
</footer>
{% endblock body %} {% block js %}
<script type="text/javascript ">
</script>
{% endblock js %}